<div *ngIf="(todoEventSummaries$ | async) as todoEventSummaries">
  <small class="text-muted">
    <span class="mr-2"
      >{{
        todoEventSummaries[showingTodosAtHistoryIndex]?.timestamp
          | date: 'medium'
      }}
    </span>
    <span class="text-black-50">{{
      todoEventSummaries[showingTodosAtHistoryIndex]?.userId
    }}</span>
  </small>
  <div>
    <strong>{{ todoEventSummaries[showingTodosAtHistoryIndex]?.title }}</strong
    ><br />
  </div>
  <div>{{ todoEventSummaries[showingTodosAtHistoryIndex]?.summary }}&nbsp;</div>

  <form
    [formGroup]="form"
    *ngIf="(maxHistoryIndex$ | async) as maxHistoryIndex"
  >
    <input
      type="range"
      class="custom-range"
      formControlName="slider"
      (input)="_updateHistoryIndex($event)"
      min="0"
      [max]="maxHistoryIndex"
    />
  </form>
</div>
