<div *ngIf="(todoEventSummaries$ | async) as todoEventSummaries">
  <small class="text-muted">
    {{
      todoEventSummaries[showingTodosAtHistoryIndex]?.timestamp | date: 'medium'
    }}

    &nbsp;
  </small>
  <div>
    <strong>{{ todoEventSummaries[showingTodosAtHistoryIndex]?.title }}</strong>
    {{ todoEventSummaries[showingTodosAtHistoryIndex]?.summary }}&nbsp;
  </div>

  <form
    [formGroup]="form"
    *ngIf="(maxHistoryIndex$ | async) as maxHistoryIndex"
  >
    <input
      type="range"
      class="custom-range"
      formControlName="slider"
      (input)="_updateHistoryIndex($event)"
      min="0"
      [max]="maxHistoryIndex"
    />
  </form>
</div>
