<!-- As a link -->
<nav class="navbar navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <div class="dropdown">
      <a
        class="navbar-brand text-secondary"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-cloud fa-lg pr-2 text-secondary"></i>
        Todo
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="https://todo.larsabrasha.com">Todo</a>
        <a class="dropdown-item" href="https://bookmarks.larsabrasha.com"
          >Bookmarks</a
        >
      </div>
    </div>

    <span class="ml-auto">
      <span *ngIf="isAuthenticated === true">
        <div class="dropdown">
          <a
            id="dropdownMenuLink"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              ngxGravatar
              size="30"
              [email]="email"
              *ngIf="(email$ | async) as email"
            />
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuLink"
          >
            <div class="mb-2 pb-2 px-4 border-bottom" style="font-size: 14px">
              <div>
                {{ name$ | async }}
              </div>
              <div class="text-muted">{{ email$ | async }}</div>
            </div>
            <a
              href=""
              class="dropdown-item"
              (click)="logout(); $event.preventDefault()"
              >Log out</a
            >
          </div>
        </div>
      </span>
      <div *ngIf="isAuthenticated === false">
        <button class="btn btn-primary" (click)="login()">
          Log in
        </button>
      </div>
    </span>
  </div>
</nav>

<div style="padding-bottom: 100px">
  <router-outlet></router-outlet>
</div>

<iframe
  #sso
  [src]="trustedSsoIframeUrl"
  tabindex="-1"
  style="width: 1px; height: 1px; position: absolute; top: -100px;"
></iframe>
