<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="[isAuthenticated ? '/todos' : '/']"
      >Todo</a
    >

    <span class="ml-auto">
      <button *ngIf="!isAuthenticated" class="btn btn-light" (click)="login()">
        Login
      </button>
      <button *ngIf="isAuthenticated" class="btn btn-light" (click)="logout()">
        Logout
      </button>
    </span>
  </div>
</nav>

<div class="container"><router-outlet></router-outlet></div>
