<div class="pt-3 list-group mx-auto" style="max-width: 500px">
  <div *ngIf="(todos$ | async) as todos">
    <ng-container *ngFor="let todoId of (todoIds$ | async)">
      <a
        href=""
        *ngIf="todos[todoId] as todo"
        class="list-group-item list-group-item-action"
        [class.bg-checked]="todo.checked"
        [class.bg-unchecked]="todo.checked == false"
        [ngStyle]="{
          'text-decoration': todo.checked ? 'line-through' : 'none',
          opacity: todo.checked ? 0.25 : 1
        }"
        (click)="toggle(todo); $event.preventDefault()"
      >
        {{ todo.title }}
      </a>
    </ng-container>
  </div>

  <div class="mt-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        type="text"
        class="form-control"
        [placeholder]="placeholder"
        formControlName="title"
        style="opacity: 0.5"
        (focus)="onFocus()"
        (blur)="onBlur()"
      />
    </form>
  </div>

  <a [routerLink]="['/todos/source-editor']" class="mt-3 ml-auto text-muted"
    ><small>Edit source</small></a
  >
</div>
