<div class="pt-3 list-group mx-auto" style="max-width: 500px">
  <div
    *ngIf="(todos$ | async) as todos"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <div
      *ngFor="let todo of todos; index as i"
      class="list-group-item list-group-item-action"
      [class.bg-checked]="todo.checked"
      [class.bg-unchecked]="todo.checked == false"
      [ngStyle]="{
        'text-decoration': todo.checked ? 'line-through' : 'none',
        opacity: todo.checked ? 0.25 : 1
      }"
      style="user-select: none; cursor: pointer;"
      (click)="toggle(i)"
      cdkDrag
      [cdkDragData]="todo"
    >
      <div
        class="float-right ml-1"
        cdkDragHandle
        style="cursor: move; opacity: 0.1"
      >
        <i class="fa fa-arrows-alt"></i>
      </div>
      {{ todo.title }}
    </div>
  </div>

  <div class="mt-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" action="#">
      <input
        type="text"
        class="form-control gentle"
        [placeholder]="placeholder"
        formControlName="title"
        style="opacity: 0.5"
        (focus)="onFocus()"
        (blur)="onBlur()"
      />
    </form>
  </div>

  <div class="mt-3">
    <div class="float-right">
      <a [routerLink]="['/todos/source-editor']" class="text-muted" title="Edit source"
        ><small><i class="fas fa-code"></i></small
      ></a>
    </div>

    <div class="text-center">
      <button
        class="btn btn-sm btn-light text-muted"
        (click)="deleteCompletedTodos()"
        *ngIf="(anyCheckedTodos$ | async)"
      >
        <small>Clear completed</small>
      </button>
    </div>
  </div>
</div>
