@import 'node_modules/bootstrap/scss/bootstrap';

.bg-checked {
  background: $light !important;
}

.bg-unchecked {
  background: white !important;
}

input:hover,
input:focus {
  opacity: 1 !important;
  transition: 0.2s;
}
